.postContent {
  margin-bottom: 5rem;
}

.authorContainer {
  text-align: right;
}

.postContent .author {
  cursor: pointer;
}

.postContent .author:hover {
  text-decoration: underline;
}

.backToHome {
  cursor: pointer;
}
