* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

p {
  font-size: 1.6rem;
}
